<!DOCTYPE html>
<html>
   <head>
      <title>Japanese Dictionary</title>
      <link rel="stylesheet" type="text/css" href="/styles/index.css">
   </head>
   <body>
      {{{body}}}
   </body>
</html>